.card_p_text{
    color: red;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1{
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}