@keyframes changeNumberAnimation{
    0% {scale: 100%;}
    50% {scale: 200%;}
    100% {scale: 100%;}
}

body, div{
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
}

div{
    background-color: greenyellow;
    padding: 5rem 2rem 3rem;
    border-radius: 1rem;
}

p{
    font-size: xx-large;
}

.animateMe{
 animation-name: changeNumberAnimation;
    animation-duration: 2s;
}