@keyframes farveSkift {
  from {background-color: red;}
  to {background-color: yellow;}
}

.tillyke{
  padding: 50px;
  margin: 25px;
  color: black;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: red;
  animation-name: farveSkift;
  animation-duration: 0.4s;
   animation-iteration-count: infinite;
}

.tillyke svg{
  display: block;
  margin: 0 auto;
  scale: 50%;
}

main{
  text-align: center;
  margin-top: 50px;
}

input, button{
  min-width: 100px
}

.inputs{
  margin-top: 10px;
}